<tr>
  <th scope="row">
    <label for="{{field.name}}" type="text">{{field.label}}</label>
  </th>
  <td>
    <input name="{{field.name}}" type-"text" class="regular-text"/>
    <p class="description"></p>
  </td>
</tr>

