<div class="wrap" id="instant-articles-configuration">
  <h1>Instant Articles Configuration</h1>

  <form method="post" novalidate="novalidate" action="/instant-articles/save-config">
    <table class="form-table">
      <tbody>
        {% for field in fields %}
          {% include('@AgreableInstantArticlesPlugin/admin/form-row.twig')  with {'field': field} %}
        {% endfor %}
      </tbody>
    </table>
    <p class="submit">
      <input type="submit" name="submit" id="submit" class="button button-primary" value="Save Configuration">
      <span class="acf-spinner"></span>
    </p>
  </form>
</div>
