<tr>
  <th scope="row">
    <label for="instant_articles_page" type="text">Facebook Page</label>
  </th>
  <td>
    <select name="instant_articles_page">
      {% for page in pages %}
      <option value="{'token':'{{page.access_token}}','id':'{{page.id}}'}">{{page.name}}</option>
      {% endfor %}
    </select>
    <p class="description">Select the page to which you will post your instant articles</p>
  </td>
</tr>

