{% for image in images %}
  <figure>
    <h1>{{image.title}}</h1>
    <img src="{{image.url}}"/>
    {% if image.caption %}
      <figcaption class="op-vertical-below">
        <h1>{{image.caption}}</h1>
      </figcaption>
    {% endif %}
  </figure>
{% endfor %}
